PFA_test/Temp/
PFA_test/Obj/
PFA_test/UnityGenerated/
PFA_test/Library/

PFA_test/ExportedObj/

PFA_test/*.svd

PFA_test/*.userprefs

PFA_test/*.csproj

PFA_test/*.pidb

PFA_test/*.suo

PFA_test/*.sln

PFA_test/*.user

PFA_test/*.unityproj

PFA_test/*.booproj

PFA_test/.DS_Store

PFA_test/.DS_Store?

PFA_test/._*

PFA_test/.Spotlight-V100

PFA_test/.Trashes

PFA_test/Icon?

PFA_test/ehthumbs.db

PFA_test/Thumbs.db

PFA_test/GraphicsSettings.asset

PFA_test/ProjectSettings.asset

PFA_test/ProjectVersion.txt